h1,h2
{
    text-align: left;
    color:rgb(253, 137, 137) ;
    font-weight: bolder;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

p
{

    font-size: 0.5cm;
    font-style: italic;
    text-align:justify ;

}

img
{
    
  
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1rem solid yellow;
    border-radius: 5px;
    
}
li

{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5CM;
}

button
{
    width: 2.5cm;
    height: 1.5cm;
    background-color:green;
    color: white;
    font-size: 1cm;
    font-style: italic;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    
}